body{
	background: #010101;
	color:white;
	font-family: 'Circularpro book' , 'Helvetica Neue', Helvetica;
  height: 100vh;
  width: 100%;
  margin: 0;
}



.title{
  min-width: 900px;
}

.projets{
  margin-top: 10%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px
}

.projets a {
  color: #FDFEFE;
  text-decoration: none;

}

.projets a:hover{
  color: grey;
}

.div-block-test {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13%;
  z-index: 1;
  width: 75%;
  margin-right: auto;
  margin-left: auto;

}

.h1-testing {
  width: 60%;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Circularpro book', 'Helvetica Neue', Helvetica ,sans-serif;
  color: #fff;
  font-size: 8vmax;
  line-height: 85px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 2px;
}

.h2 {
  margin-top: 0px;
  clear: left;
  font-family: 'Circularpro book', 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.name{
  font-family: 'Circularpro book', 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px

}

.name a{
  text-decoration: none;
  color: #FDFEFE;
}


.menu{
  font-family: 'Circularpro book','Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
}

.menu a{
  text-decoration: none;
  color: #FDFEFE;
}

.menu a:hover{
  color: grey;
}

.haut{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92%;
  margin-top: 2.5%;
  margin-right: auto;
  margin-left: auto;

}  
.social{
  position: absolute;
  bottom: 50px; 
  left: 50px;
  display: flex;
  font-size: 12px ;  
  font-weight: 400;
  letter-spacing: 3px;

}

.social a {
  margin-right: 15px;
  color: #FDFEFE;
  text-decoration: none;
}

.project-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 700px
  width:10%;
  margin-top: 18%;
  margin-right: 50px;
  margin-left: 50px;
  
}

.project-title a{
  font-family: 'Circularpro book','Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
}

.placement-PHOTO{
  display: flex;
  justify-content: column;
  background-image: url("image/PH1.JPG");

}

.placement-PHOTO a:hover{
  color: grey;
}

.placement-VIDEO{
  display: flex;
  justify-content: column;
}

.placement-VIDEO a:hover{
  color: grey; 
}

.photo-vid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 700px
  margin-top: 10%;
  margin-right: 50px;
  margin-left: 50px;
  z-index: 2;
}

.photo-vid a{
  font-family: 'Circularpro book','Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 170px;
  font-weight: 100;
  letter-spacing: 4px;
  text-decoration: none;

}

.placement-pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.placemenr-pics img{
  height: 300px;  
  width: 300px;
}



/*
.link-1{
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

.link-2{
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}


body div:nth-child(2) {
  align-self: flex-end;
}


body{
  background: #283130;
  color:white;
  font-family: Arial, 'Helvetica Neue', Helvetica;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h3{
  color: #FDFEFE;
text-indent: 25px 
}

a:link{
  color:  #FDFEFE 
}

.photot{
  float: right;

}
a:hover{
  color: 
#FDFEFE;
}


.div-block-test {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.h1-testing {
  width: 60%;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 7vmax;
  line-height: 10vmin;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0px;
}

.h2 {
  margin-top: 0px;
  clear: left;
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.name{
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 60px;
  top: 30px;
}

.link-1{
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  left: : 100px;
  top: 60px;
}

.link-2{
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  left: : 150px;
  top: 60px;
}


.link-social-1{
   font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
  position: absolute;
  left: : 100px;
  bottom-margin: 50px;

}

.link-social-2{
   font-family: 'Circularpro book', sans-serif;
  color: #fff;
  font-size: 500px;
  font-weight: 100;
  position: absolute;
  left: : 50px;
  bottom: 50px;
}

.social{
    left: : 50px;
  bottom: 50px;
  display: flex;

}
.social a {
  margin-right: 15px;
}
body div:nth-child(2) {
  align-self: flex-end;
}
*/